body{
    font-family: 'Lato', 'sans-serif';
}
h2{
    font-weight: 700;
}
p{
    font-weight: 300;
}
.container{
    margin: 0 auto;
    width: 500px;
}
.flex{
    display: flex;
}

.text-center{
    text-align: center;
}

.columna{
    background: rgb(228, 228, 228);
    color: #333;
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

.precio{
    font-size: 50px;
    color: #00dac7;
}