.nav-enlace{
    display: inline-block;
    background: salmon;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
}
.nav-enlace:hover{
    background: rosybrown;
}
nav{
    background:rebeccapurple;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.nav-button{
    background: salmon;
    color: #fff;
    padding: 10px 0px;
    border: 2px solid #fff;
    display: none;
}

@media (max-width: 600px) {
    nav{
        background: black;
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0px;
    }
    .nav-button{
        display: inline-block;
    }
}